.container {
  width: min(100% - 32px, 1200px);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: min(100% - 64px, 1200px);
  }
}

@media (min-width: 1280px) {
  .container {
    width: min(100% - 120px, 1200px);
  }
}
