/**
  |============================
  | Base + layout
  |============================
*/
@import url('modern-normalize/modern-normalize.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./utilities.css');
@import url('./animations.css');

/**
  |============================
  | Sections
  |============================
*/
@import url('./header.css');
@import url('./hero.css');
@import url('./catalog.css');
@import url('./favorites.css');
@import url('./modals.css');
@import url('./footer.css');
